# Server
PORT=3000

# Database MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=tongue

# API NewsData.io
NEWSDATA_API_KEY=inserisci_la_tua_chiave

# API Groq
GROQ_API_KEY=inserisci_la_tua_chiave